@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Fjalla+One&family=Oswald:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
--cor_primaria
--cor_secundaria
--cor_terciaria
--cor_hover
}


*{ padding: 0%;
   margin: 0%; }

 body{ 
    /* height: 100vh; */
    background-color: rgb(24, 23, 23);
    background-image: none;
    color: rgb(160, 255, 255);
    box-sizing: border-box;}  

.destaque-T { color: #22D4FD;}    

h1{font-weight: bold;}

.ajudar{ color: #22D4FD;}

.corpo{  
    padding: 10% 8%;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content:space-between
    gap: 4rem;
}

 .corpo_conteudo{ 
    width: 50%; 
    display: flex; 
    flex-direction: column

}   

.corpo_titulo{ 
    font-size: 2.30rem;
    font-family: 'Fjalla One', sans-serif;}

.corpo_paragrafo{ font-size: 1.25rem;
    font-family: 'Montserrat',sans-serif}

.corpo_links{ 
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    gap: 2rem;}

.links_nome {
    font-size: 1.87rem;
    font-family: 'Fjalla One', sans-serif;
    color: #22D4FD;}

.corpo_links_ss{ 
    
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 60%;
    text-align: center;
    border-radius: 1.87rem;
    font-size: 1.87rem;
    font-weight: 600;
    padding: 16px 0;
    text-decoration: none;
    color: #a5e5ee;
    color-scheme: blue;
    font-family: 'Fjalla One', sans-serif;
    border: 5px groove #31a2e4;
}

.corpo_links_ss:hover{ 
    background-color: #2b2c2c;
    border: 5px groove #53e9e9;
   
}

.corpo_imagem{
    width: 50%;
}



.rodape{ 
    background-color: #1a9bb8;
    padding: 1.56rem;
    text-align: center;
    font-family:'Montserrat',sans-serif;
    font-size: 1.50rem;
    font-weight: 400;
    color: #000000;
}

.cabeca {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
   }


.cabeca_m_link{
    font-family: 'Montserrat',sans-serif;
    color: #22D4FD;
    font-size: 1.62rem;
    margin: 1.25rem;
    padding: 10px 20px;
    font-weight: 600;
    justify-content:space-between;
    gap: 1.25rem;
    text-decoration: none;
}

.cabeca_m_link:hover{
    color: #1a9bb8;
    font-weight: 600;

}


@media (max-width: 1200px) 
{
    
    .cabeca{
        padding:4% ;
    }
    
    
    .corpo {
        flex-direction: column-reverse;
        gap: 80px;
        padding: 5%;
    }
    
    .corpo_conteudo{
        font-size: 1.3rem;
        gap: 1rem;
        width: 70%;
    }

    .corpo_links{
        gap: 2rem;
    }
    
    .links_nome{
        font-size: 2rem;
    }  

}


